header{
    background-color: #666666;
    text-align: center;
}

header nav{
    font-variant: small-caps;
}

header h1{
    color: white;
    font-size: 150%;
}

body{
    background-color: #B3B3B3;
    font-size: 125%;
}

h2{
    background-color: #00b7ea;
    color: #666666;
}

details{
    font-style: italic;
}

footer{
    background-color: #666666;
}

summary{
    font-style: normal;
}