h1{
    background-color: #b3b3b3;
    font-size: 150%;
}

header{
    background-color: #666666;
    text-align: center;
}

h1{
    color:#FFFFFF;
}

nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: Arial, "Time New Roman", serif;
}

h2{
    color: #666666;
    background-color:#00B7EA ;
}

summary{
    font-style: normal;
}

details{
    font-style: italic;
}

footer{
    background-color: #666666;
}

