div{
    width: 250px;
    height: 180px;
    line-height: 130px;
    border: 1px solid black;
    border-radius: 10%;
    background-color: aqua;
    text-align: center;


    transition-property: width, height, border, border-radius, background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.8s;
}

div:hover{
    width: 230px;
    height: 170px;
    border: 2px solid  blue;
    border-radius: 60%;
    background-color: yellow;
}

div:active{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: yellowgreen;
}

div:active>p{
    display: none;
}